################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hosting_PublishSettings/lapstore.runasp.net-WebDeploy.publishSettings
/LapStore/LapStore.Web/appsettings.json
/LapStore/LapStore.Web/appsettings.json
